{% extends 'base.html.twig' %}

{% block title %}Features{% endblock %}

{% block body %}
<div class="container mt-5">
    <h2>Features :</h2>
    <div class="border bg-primary w-75 text-light mt-5 p-5">
        <h3>First feature :</h3>
        <p>
        Maecenas pharetra diam id velit tristique lacinia eget quis quam. Vestibulum faucibus tortor non nulla tincidunt, eget finibus felis varius. Quisque lobortis luctus egestas. In mattis, nunc vel rhoncus auctor, felis arcu aliquam nibh, ut tempus lorem tellus malesuada orci. Aliquam at aliquam velit. Cras non auctor mi. Fusce ultricies nisl eget tellus tincidunt, non auctor nunc tincidunt. Sed ipsum ligula, sollicitudin at auctor vitae, rutrum eget est.
        </p>
    </div>
    <div class="border bg-success w-75 text-light mt-5 p-5">
        <h3>Second feature :</h3>
        <p>
        Maecenas pharetra diam id velit tristique lacinia eget quis quam. Vestibulum faucibus tortor non nulla tincidunt, eget finibus felis varius. Quisque lobortis luctus egestas. In mattis, nunc vel rhoncus auctor, felis arcu aliquam nibh, ut tempus lorem tellus malesuada orci. Aliquam at aliquam velit. Cras non auctor mi. Fusce ultricies nisl eget tellus tincidunt, non auctor nunc tincidunt. Sed ipsum ligula, sollicitudin at auctor vitae, rutrum eget est.
        </p>
    </div>
    <div class="border bg-warning w-75 mt-5 p-5">
        <h3>Third feature :</h3>
        <p>
        Maecenas pharetra diam id velit tristique lacinia eget quis quam. Vestibulum faucibus tortor non nulla tincidunt, eget finibus felis varius. Quisque lobortis luctus egestas. In mattis, nunc vel rhoncus auctor, felis arcu aliquam nibh, ut tempus lorem tellus malesuada orci. Aliquam at aliquam velit. Cras non auctor mi. Fusce ultricies nisl eget tellus tincidunt, non auctor nunc tincidunt. Sed ipsum ligula, sollicitudin at auctor vitae, rutrum eget est.
        </p>
    </div>
</div>


{% endblock %}