{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1 class="mb-5">Welcome to ZOD</h1>
    <div class="w-75 d-flex align-items-center mx-auto">
        <p class="bg-primary-subtle p-4 fs-5 text-secondary rounded-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo dolorem impedit facere accusantium non temporibus est cumque laudantium, ab ratione? Voluptatibus voluptatem iusto commodi, animi consectetur ex ipsa sed quos. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod aliquam delectus in quisquam reprehenderit. Deleniti dolor saepe voluptates. Quo nemo minus perferendis possimus, odit nisi doloribus beatae temporibus excepturi facilis?</p>
        <img src="{{ asset('pictures/presentation_home.jpg') }}" alt="" width=500 height=500>
    </div>
{% endblock %}
