{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1 class="mt-5">Welcome to ZOD</h1>
    <img src="{{ asset('pictures/presentation_home.jpg') }}" alt="" width=800 height=800>
{% endblock %}
